@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Baloo Da 2", ui-sans-serif, system-ui, sans-serif;
}

body {
    @apply font-sans;
}

:root {
    color-scheme: light;
}

@layer base {
    body {
        @apply antialiased;
    }
}

/* Light Mode Base */
:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
}

:root body {
    background-color: white;
    color: black;
}

/* OLED Dark Mode Base */
:root.dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
}

:root.dark body {
    background-color: black;
    color: white;
}
